<%- include("partials/header") -%>
<h1>Compose</h1>
<form action="/compose" method="POST">
    <input type="text">
    <button type="submit">Publish your Blog!</button>
</form>
<%- include("partials/footer") -%>