<%- include("partials/header") -%>
    <h1 class="mb-4">Compose</h1>
    <form action="/compose" method="POST">
        <label for="titleInput" class="form-label">Title</label>
        <input type="text" class="form-control mb-4" name="titleInput" id="titleInput" placeholder="Your title...">

        <label for="titleInput" class="form-label">Post</label>
        <textarea type="text" class="form-control mb-4" name="blogInput" id="blogInput"
            placeholder="Write your blog here..."></textarea>
        <button type="button" class="btn btn-outline-primary randomTextButton" onclick="generateRandomText();">Use random text</button>
        <button type="submit" class="btn btn-primary">Publish your Blog!</button>
    </form>
    <script src="/js/index.js"></script>