<%- include("partials/header") -%>
    <h1>Compose</h1>
    <form action="/compose" method="POST">
        <label for="titleInput" class="form-label">Title</label>
        <input type="text" class="form-control mb-4" name="titleInput" id="titleInput" placeholder="Your title...">

        <label for="titleInput" class="form-label">Post</label>
        <textarea type="text" class="form-control mb-4" name="blogInput" id="blogInput" placeholder="Your text..."></textarea>
        <button type="submit" class="btn btn-primary">Publish your Blog!</button>
    </form>
    <%- include("partials/footer") -%>