<%- include("partials/header") -%>
        <h1>
            <%= titleInput %>
        </h1>
        <img src="<%= blogImage %>" alt="" style="width: 100%">
        <p>
            <%= blogInput %>
        </p>
    </div>
    </body>
    </html>