<%- include("partials/header") -%>
        <link rel="stylesheet" href="/css/posts.css">
        <h1>
            <%= titleInput %>
        </h1>
        <div class="wrapperForBlogImage">
            <img src="<%= blogImage %>" alt="" class="blogImage">
        </div>
        <p>
            <%= blogInput %>
        </p>
    </div>
    </body>
    </html>