<%- include("partials/header") -%>
    <h1 class="mb-4">Update your blog</h1>
    <form action="/update" method="POST">
        <label for="searchInput" class="form-label">Search blog to be updated by the title</label>
        <input type="text" class="form-control mb-4" name="searchInput" id="searchInput" placeholder="Search in lowercase...">

        <label for="titleInput" class="form-label">New title</label>
        <input type="text" class="form-control mb-4" name="titleInput" id="titleInput" placeholder="Your title...">

        <label for="titleInput" class="form-label">Post</label>
        <textarea type="text" class="form-control mb-4" name="blogInput" id="blogInput" placeholder="Write your blog here..."></textarea>

        <label for="blogImage" class="form-label">New URL to blog image</label>
        <input type="text" class="form-control mb-4" name="blogImage" id="blogImage" placeholder="URL to blog image...">

        <button type="submit" class="btn btn-outline-primary">Update your Blog!</button>
    </form>